




@{

    if(Handler.alert){
        
        <div class="row mb-4">
            <div class="col-auto pt-2 bg-warning rounded">
                <p><b>ERROR!</b> @Handler.alertString</p>
            </div>
        </div>


    }

}