@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    
}


<div class="row mb-4">
    <div class="col-12">
        <h1 class="display-4">Welcome</h1>
    </div>
    <div class="col-12">
        <p>To this forum. Discuss everything</p>
    </div>

</div>

<div class="row mb-4">
    <div class="col-12">
        @{
            if(!Handler.loggedIn){
                <a class="btn btn-secondary" asp-area="" asp-page="/Register">Register</a>   
                <a class="btn btn-primary" asp-area="" asp-page="/Login">Login</a>     
            }
            else{

                <p>Go to the <a class="" asp-area="" asp-page="/Topics">TOPICS</a></p>

            }

            
        }
        
    </div>
</div>
