@page
@model Guestbook.LogoutModel
@{
    ViewData["Title"] = "Logout";
    
}
<div class="row mb-4">
    <div class="col-12">
        <h1 class="display-4">Logging Out!</h1>
    </div>
    <div class="col-12">
        <p>...</p>
    </div>

</div>