@page
@model RulesModel
@{
    ViewData["Title"] = "Rules";
}
<div class="row mb-4">
    <div class="col-12">
        <h1 class="display-4">Rules</h1>
    </div>

</div>

<p>To be able to participate in discussions and use this forum, you must register as a member. You register by filling out a simple form and then confirm the membership by e-mail. Before you become a member, you must read, understand and accept the following rules:</p>

<p>
    To keep the discussions at a pleasant and constructive level, all members must follow the ethical rules that apply on the internet as well as in everyday life.
    </br></br>
    Be nice and respect others.</br></br>
    Statements that may be perceived as offensive or offensive are not permitted. Feel free to argue, but do not let it derail for pie tossing.</br></br>
    Personal matters, private discussions and the like may not appear in the forum.</br></br>
    It is not permitted to distribute or link to pornography.</br></br>
    To speak provocatively only to annoy others (so-called enchanting) is not allowed.</br></br>
    Meaningless posts that do not advance the discussion are forbidden.</br></br>
</p>
