@page
@model Guestbook.WIPModel
@{
    ViewData["Title"] = "W.I.P";
    
}
<div class="row mb-4">
    <div class="col-12">
        <h1 class="display-4">ERROR!</h1>
    </div>
    <div class="col-12">
        <p>This site and/or function is not ready yet!</p>
    </div>
</div>

